<?xml version="1.0"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <version>4</version>
  <openFileExtFilter>XML関連（*.xml;*.xsl;*.xhtml;*.html;*.xsd）|*.xml;*.xsl;*.xhtml;*.html;*.xsd|XML files (*.xml)|*.xml|XSLT files (*.xsl)|*.xsl|HTML files (*.html;*.htm)|*.html;*.htm|XHTML files (*.xhtml)|*.xhtml|XSD files (*.xsd)|*.xsd|Text files (*.txt)|*.txt|All files (*.*)|*.*</openFileExtFilter>
  <saveFileExtFilter>XML files (*.xml)|*.xml|XSLT files (*.xsl)|*.xsl|HTML files (*.html)|*.html|XHTML files (*.xhtml)|*.xhtml|XSD files (*.xsd)|*.xsd|Text files (*.txt)|*.txt|All files (*.*)|*.*</saveFileExtFilter>
  <charSets>
    <CharSet>
      <XmlEncodeName>UTF-8</XmlEncodeName>
      <CodePage>65001</CodePage>
    </CharSet>
    <CharSet>
      <XmlEncodeName>UTF-7</XmlEncodeName>
      <CodePage>65000</CodePage>
    </CharSet>
    <CharSet>
      <XmlEncodeName>UTF-16</XmlEncodeName>
      <CodePage>1200</CodePage>
    </CharSet>
    <CharSet>
      <XmlEncodeName>UTF-16BE</XmlEncodeName>
      <CodePage>1201</CodePage>
    </CharSet>
    <CharSet>
      <XmlEncodeName>Shift_JIS</XmlEncodeName>
      <CodePage>932</CodePage>
    </CharSet>
    <CharSet>
      <XmlEncodeName>ISO-2022-JP</XmlEncodeName>
      <CodePage>50220</CodePage>
    </CharSet>
    <CharSet>
      <XmlEncodeName>EUC-JP</XmlEncodeName>
      <CodePage>51932</CodePage>
    </CharSet>
    <CharSet>
      <XmlEncodeName>ISO-8859-1</XmlEncodeName>
      <CodePage>28591</CodePage>
    </CharSet>
    <CharSet>
      <XmlEncodeName>windows-1252</XmlEncodeName>
      <CodePage>1252</CodePage>
    </CharSet>
    <CharSet>
      <XmlEncodeName>ISO-8859-15</XmlEncodeName>
      <CodePage>28605</CodePage>
    </CharSet>
  </charSets>
  <vwMemoryWindowSize>true</vwMemoryWindowSize>
  <vwWindowSize>
    <Width>806</Width>
    <Height>612</Height>
  </vwWindowSize>
  <vwWindowState>Normal</vwWindowState>
  <vwWindowLocation>
    <X>557</X>
    <Y>214</Y>
  </vwWindowLocation>
  <vwAttributeDataGridHeight>115</vwAttributeDataGridHeight>
  <vwTreeViewWidth>408</vwTreeViewWidth>
  <vwSourceViewHeight>199</vwSourceViewHeight>
  <vwMessageWindowHeight>451</vwMessageWindowHeight>
  <vwMainMenuLocation>
    <X>0</X>
    <Y>0</Y>
  </vwMainMenuLocation>
  <vwToolBarMainPosition>
    <X>3</X>
    <Y>24</Y>
  </vwToolBarMainPosition>
  <vwToolBarBase64Position>
    <X>515</X>
    <Y>24</Y>
  </vwToolBarBase64Position>
  <recentUsedFile>
    <string>F:\開発\crackinDJ\crackinDJ\GraphicData.xsd</string>
  </recentUsedFile>
  <recentUsedFileCount>10</recentUsedFileCount>
  <base64EncodingListIndex>4</base64EncodingListIndex>
  <vwTreeView>true</vwTreeView>
  <vwSourceView>true</vwSourceView>
  <vwEditView>true</vwEditView>
  <vwMessageWindow>true</vwMessageWindow>
  <vwShowNodeValue>true</vwShowNodeValue>
  <vwShowAttribute>true</vwShowAttribute>
  <vwShowSelectedNodeOnly>false</vwShowSelectedNodeOnly>
  <vwSourceViewColor>true</vwSourceViewColor>
  <vwSourceViewBold>false</vwSourceViewBold>
  <vwSourceViewLine>true</vwSourceViewLine>
  <vwSourceViewSpace>false</vwSourceViewSpace>
  <vwSourceViewControl>false</vwSourceViewControl>
  <vwSourceViewWordWrap>false</vwSourceViewWordWrap>
  <vwSourceViewAutoIndent>true</vwSourceViewAutoIndent>
  <vwSourceViewStatus>true</vwSourceViewStatus>
  <vwSourceViewLineNumbers>true</vwSourceViewLineNumbers>
  <vwEditViewWordWrap>true</vwEditViewWordWrap>
  <vwEditViewSpace>false</vwEditViewSpace>
  <vwEditViewControl>false</vwEditViewControl>
  <vwExpandTreeAtLoad>true</vwExpandTreeAtLoad>
  <vwSourceViewFont>
    <Name>ＭＳ ゴシック</Name>
    <Size>9</Size>
    <Style>Regular</Style>
  </vwSourceViewFont>
  <vwEditViewFont>
    <Name>ＭＳ ゴシック</Name>
    <Size>9</Size>
    <Style>Regular</Style>
  </vwEditViewFont>
  <vwSourceViewColorThresholdLength>200000</vwSourceViewColorThresholdLength>
  <vwBackColor>-1</vwBackColor>
  <opBase64LProtocol>false</opBase64LProtocol>
  <opXmlValidation>true</opXmlValidation>
  <opXmlSchemaValidation>false</opXmlSchemaValidation>
  <opFileOutIndent>true</opFileOutIndent>
  <opFileOutLineFeed>true</opFileOutLineFeed>
  <opReadNode>true</opReadNode>
  <opAutoUpdate>true</opAutoUpdate>
  <opEnableDragDrop>false</opEnableDragDrop>
  <opHandleTagAsText>true</opHandleTagAsText>
  <opForceSystemTempOnPreview>false</opForceSystemTempOnPreview>
  <opResolveExtSource>false</opResolveExtSource>
  <opUseSingleQuotation>false</opUseSingleQuotation>
  <numIndent>2</numIndent>
  <extNameList />
  <sendTo>false</sendTo>
  <searchMaxSaveCount>10</searchMaxSaveCount>
  <searchKeyString />
  <searchReplaceString />
  <searchRbXPath>false</searchRbXPath>
  <searchRbText>true</searchRbText>
  <searchCbNodeType>0</searchCbNodeType>
  <searchCbCompareMethod>1</searchCbCompareMethod>
  <searchCkRoot>false</searchCkRoot>
  <searchCkDistinctCase>false</searchCkDistinctCase>
  <searchExXPath />
  <searchExKeyString />
  <searchExReplaceString />
  <searchExckSearchFromRoot>true</searchExckSearchFromRoot>
  <searchExCkNTAllName>true</searchExCkNTAllName>
  <searchExCkNTAllValue>true</searchExCkNTAllValue>
  <searchExCkNTElementName>false</searchExCkNTElementName>
  <searchExCkNTElementValue>false</searchExCkNTElementValue>
  <searchExCkNTText>false</searchExCkNTText>
  <searchExCkNTComment>false</searchExCkNTComment>
  <searchExCkNTAttValue>false</searchExCkNTAttValue>
  <searchExCkNTAttName>false</searchExCkNTAttName>
  <searchExCkNTCData>false</searchExCkNTCData>
  <searchExCkNTPIKey>false</searchExCkNTPIKey>
  <searchExCkNTPIValue>false</searchExCkNTPIValue>
  <searchExCkNTDocType>false</searchExCkNTDocType>
  <searchExCkXPath>false</searchExCkXPath>
  <searchExCkSearchConditon>true</searchExCkSearchConditon>
  <searchExCkChildOnly>false</searchExCkChildOnly>
  <searchExCkDistinctCase>false</searchExCkDistinctCase>
  <searchExCkDirectMode>false</searchExCkDirectMode>
  <searchExCbCompareMethod>1</searchExCbCompareMethod>
  <searchTextKeyString />
  <searchTextReplaceString />
  <searchTextCkSearchFromRoot>false</searchTextCkSearchFromRoot>
  <searchTextCkDistinctCase>false</searchTextCkDistinctCase>
  <searchTextCkSearchPrevious>false</searchTextCkSearchPrevious>
  <searchTextCkReplaceSelected>false</searchTextCkReplaceSelected>
  <xPathCommonNodeExpression>false</xPathCommonNodeExpression>
  <homePageURL>http://www.xmleditor.jp/</homePageURL>
</Configuration>